.row {
    padding: 100px;
    background-color: #e3e3e3; 
}

.row-height {
    height: 70px;
    text-align: center;
    padding-top: 25px;
}

.col-md-8,.col-sm-6 {
    background-color: #e3e3e3;
}

.container-fluid {
	background-color: black;
}

.col-md-12, .col-sm-10 {
	background-color: blue;
}