.row {
     
}

.row-height {
    height: 15%;
    text-align: center;
    padding-top: 2%;
}

.col-md-6,.col-sm-6 {
    background-color: #e3e3e3;
}

.col-md-12, .col-sm-10 {
	background-color: blue;
}

body {
	background-color: gray;
}